#files being edited
*~


# make and build files
*.lst
*.o
*.so
*.eep
*.lss
*.map
*.sym

# Resources
*.bmp
*.ttf
*.jpg

# Other things
.vscode
*.code-workspace
*.directory
.yardoc
tmp
ext/LiteRGSS/ruby
ext/LiteRGSS/ruby.h
yard/doc
yard/*.html
mkmf.log
pkg/LiteRGSS-0.1.1/*
